<div class="container">
  <div class="row">
    <div class="col-md-8 offset-2">
      <div class="card add-poke">
        <div class="card-header">
          {{ cardTitle }}
        </div>
        <div class="card-block">
          <form #newPokemonForm="ngForm"
                (ngSubmit)="savePokemon(newPokemonForm.value)"
                novalidate>
            <fieldset>
              <div class="form-group">
                <div class="col-md-3">
                  <em *ngIf="newPokemonForm.controls.name?.invalid && (newPokemonForm.controls.name?.touched || mouseoverLogin)">Required</em>
                  <label class="form-control-label"
                         for="name">Pokemon</label>
                </div>

                <div class="col-md-8">
                  <input class="form-control"
                         [(ngModel)]="formPokemon.name"
                         required
                         minlength="2"
                         #validate="ngModel"
                         id="name"
                         name="name"
                         type="text"
                         placeholder="Name" />
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-3 form-control-label"
                       for="species">Species</label>
                <div class="col-md-8">
                  <input class="form-control"
                         [(ngModel)]="formPokemon.species"
                         id="species"
                         name="species"
                         type="text"
                         placeholder="Species" />
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-4">
                  <em *ngIf="newPokemonForm.controls.type?.invalid && (newPokemonForm.controls.type?.touched || mouseoverLogin)">Required</em>
                  <label class="form-control-label"
                         for="type">Pokemon Type</label>
                </div>
                <div class="col-md-8">
                  <select multiple
                          required
                          #validate="ngModel"
                          [(ngModel)]="formPokemon.type"
                          class="form-control"
                          id="type"
                          name="type">
                    <option>Grass</option>
                    <option>Poison</option>
                    <option>Water</option>
                    <option>Psychic</option>
                    <option>Ice</option>
                    <option>Bug</option>
                    <option>Electric</option>
                    <option>Fire</option>
                    <option>Flying</option>
                    <option>Normal</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-3 form-control-label"
                       for="image">Image</label>
                <div class="col-md-8">
                  <input class="form-control"
                         [(ngModel)]="formPokemon.image"
                         id="image"
                         type="text"
                         placeholder="Image URL"
                         name="image" />
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-4 col-md-offset-2">
                                    <span
                                      (mouseenter)="mouseoverLogin=true"
                                      (mouseleave)="mouseoverLogin=false"
                                    >
                                        <button class="btn btn-primary"
                                                type="submit"
                                                style="width:80px;margin-right:10px"
                                                [disabled]="!validate.valid">
                                            Save
                                        </button>
                                    </span>
                  <span>
                                        <a class="btn btn-default"
                                           style="width:80px"
                                           [routerLink]="['/']">
                                            Cancel
                                        </a>
                                    </span>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
