<nav class="navbar navbar-toggleable-sm navbar-inverse bg-danger">
  <button class="navbar-toggler navbar-toggler-right"
          type="button"
          data-toggle="collapse"
          data-target="#navbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a [routerLink]="['/']" class="navbar-brand">{{ appName }}</a>
  <div class="navbar-collapse collapse justify-content-stretch" id="navbar">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/']">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['add-pokemon']">Add Pokemon</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']">Welcome</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://bitbucket.com/gravityslave92">
          <i class="fa fa-bitbucket-square"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
