<div class="container">
  <div class="col-md-12">
    <div class="row">

      <!-- Error Message -->
      <div class="alert alert-danger" *ngIf="errorMessage">{{ errorMessage }}</div>

      <div class="col-md-4" *ngFor="let pokemon of pokemonList">
        <div class="card poke-row text-center">
          <div class="row text-center text-white">
            <img [src]="pokemon.image" class="rounded mx-auto d-block poke-img">
          </div>
          <div class="card-block">
            <h3 class="card-title text-center">{{pokemon.name}}</h3>
            <p class="card-text text-center"><b>Species:</b> {{pokemon.species}}</p>
            <button type="button" class="btn btn-info" *ngIf="pokemon.type.indexOf('Flying')!==-1">Flying</button>
            <button type="button" class="btn btn-info" *ngIf="pokemon.type.indexOf('Electric')!==-1">Electric</button>
            <button type="button" class="btn btn-info" *ngIf="pokemon.type.indexOf('Ice')!==-1">Ice</button>
            <button type="button" class="btn btn-success" *ngIf="pokemon.type.indexOf('Grass')!==-1">Grass</button>
            <button type="button" class="btn btn-success" *ngIf="pokemon.type.indexOf('Bug')!==-1">Bug</button>
            <button type="button" class="btn btn-warning" *ngIf="pokemon.type.indexOf('Poison')!==-1">Poison</button>
            <button type="button" class="btn btn-danger" *ngIf="pokemon.type.indexOf('Fire')!==-1">Fire</button>
            <button type="button" class="btn btn-primary" *ngIf="pokemon.type.indexOf('Water')!==-1">Water</button>
            <button type="button" class="btn btn-secondary" *ngIf="pokemon.type.indexOf('Normal')!==-1">Normal</button>
            <button type="button" class="btn btn-secondary" *ngIf="pokemon.type.indexOf('Psychic')!==-1">Psychic</button>
            <span class="card-link" hidden><i class="fa fa-pencil"></i></span>
            <span class="card-link text-warning">
                             <i class="fa fa-info-circle fa-2x"></i></span>
            <span class="card-link text-danger"
                  (click)="deletePokemon(pokemon)"
                  tooltip="Careful, this will delete Pokemon"
                  placement="bottom"
                  >
                                     <i class="fa fa-trash-o fa-2x"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

<!-- Modal -->
<div bsModal #childModal="bs-modal"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-labelledby="mySmallModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg" *ngIf="selectedPokemonLoaded">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title pull-left">{{ pokemonDetails.name }}</h3>
        <button type="button"
                aria-label="Close"
                class="close pull-right"
                (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container col-md-12">
          <div class="row">

            <!-- Pokemon Image -->
            <div class="col-md-2">
              <img [src]="pokemonDetails.image" class="rounded float-left img-thumbnail">
            </div>

            <!-- Pokemon Type -->
            <div class="col-md-5">
              <ul class="list-group">
                <li class="list-group-item">
                  <strong>Height</strong>
                  <div class="d-flex justify-content-end">
                    <div class="mr-auto p-2">&nbsp; {{ pokemonDetails.height }}</div>
                  </div>
                </li>
                <li class="list-group-item">
                  <strong>Weight</strong>
                  <div class="d-flex justify-content-end">
                    <div class="mr-auto p-2">&nbsp; {{ pokemonDetails.weight }}</div>
                  </div>
                </li>
                <li class="list-group-item">
                  <strong>Type</strong>
                  <ul>
                    <li *ngFor="let type of pokemonDetails.type">
                      <span class="align-self-end">{{ type }}</span>
                    </li>
                  </ul>
                </li>
                <li class="list-group-item">
                  <strong>Abilities</strong>
                  <ul>
                    <li *ngFor="let ability of pokemonDetails.abilities">
                      <span class="align-self-end">{{ ability }}</span>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>

            <!-- Pokemon Stats -->
            <div class="col-md-5">
              <ul class="list-group">
                <li class="list-group-item">
                  <strong>HP</strong>
                  <div class="d-flex justify-content-end">
                    <div class="mr-auto p-2 float-right">
                          <span class="badge badge-default">{{ pokemonDetails.stats.hp }}
                        </span>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <strong>Attack</strong>
                  <div class="d-flex justify-content-end">
                    <div class="mr-auto p-2">
                          <span class="badge badge-danger">{{ pokemonDetails.stats.attack }}
                        </span>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <strong>Defense</strong>
                  <div class="d-flex justify-content-end">
                    <div class="mr-auto p-2">
                          <span class="badge badge-warning">{{ pokemonDetails.stats.defense }}
                        </span>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <strong>Special Attack</strong>
                  <div class="d-flex justify-content-end">
                    <div class="mr-auto p-2">
                          <span class="badge badge-info">{{ pokemonDetails.stats['sp.atk'] }}
                        </span>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <strong>Special Defense</strong>
                  <div class="d-flex justify-content-end">
                    <div class="mr-auto p-2">
                          <span class="badge badge-success">{{ pokemonDetails.stats['sp.def'] }}
                        </span>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <strong>Speed</strong>
                  <div class="d-flex justify-content-end">
                    <div class="mr-auto p-2">
                          <span class="badge badge-primary">{{ pokemonDetails.stats.speed }}
                        </span>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <strong>Total</strong>
                  <div class="d-flex justify-content-end">
                    <div class="mr-auto p-2">
                          <span class="badge badge-default">{{ pokemonDetails.stats.total }}
                        </span>
                    </div>
                  </div>
                </li>
              </ul>
            </div>

          </div>  <!-- End Row -->
        </div>   <!-- End col-md-12  -->
      </div>    <!-- End modal body -->
    </div>       <!-- End modal content -->
  </div>
</div>
