<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Pokedek</h1>
    <p class="lead">This site lists your favorite Pokemons! Add your pokemon here.</p>
  </div>
</div>
<app-poke-list></app-poke-list>
